@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    padding: 2rem 4rem;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: #0033FF;
}

header button {
    position: absolute;
    top: 3rem;
    right: 4rem;
}


button {
    padding: 5px 10px;
    font-size: 18px;
    background-color: #0033FF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: flex-end;
}

button:hover {
    background-color: #001f99;
}

.exerc {
    text-align: center;
    & h1 {
        color: #0033FF;
    }

    & p {
        color: #575757;
    }
}

.respos {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.gab {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gab .tab1 {

}